name: Build
on:
  workflow_call:
    inputs:
      ref:
        type: string
        description: git ref to build
        default: ${{ github.ref_name }}
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            rid: win-x64

    runs-on: ${{ matrix.os }}

    env:
      repo_dir: ${{ github.workspace }}/repo
      src_dir: ${{ github.workspace }}/repo/src
      output_dir: ${{ github.workspace }}/output

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
          path: ${{ env.repo_dir }}
          submodules: recursive

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Build
        env:
          RID: ${{ matrix.rid }}
          BUILD_OUTPUT_DIR: ${{ env.output_dir }}
        run: dotnet publish -c Release VRChatContentManager.App -r $RID -o $BUILD_OUTPUT_DIR
        shell: bash
        working-directory: ${{ env.src_dir }}

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vrchat-content-manager-app-${{ matrix.rid }}
          path: |
            ${{ env.output_dir }}
            !${{ env.output_dir }}/**/*.pdb

      - name: Upload PDB
        uses: actions/upload-artifact@v4
        with:
          name: vrchat-content-manager-app-${{ matrix.rid }}-pdb
          path: ${{ env.output_dir }}/**/*.pdb
